.about__container {
    margin: auto;
    width: 60vw;
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font-size);
    color: rgb(10, 120, 211);
}

.about__contents {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--normal-font-size);
}