html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.landingPage-bg-with-image {
  position: relative;
  background-image: url("./assets/carwashBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.servicePage-bg-with-image {
  height: 100%;
  position: relative;
  background-image: url("./assets/ServiceBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginPage-bg-with-image{
  position: relative;
  background-image: url("./assets/loginBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.LandingPage{
    z-index: 2;
}

.line-before-after {
  position: relative;
}

.line-before-after::before,
.line-before-after::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.line-before-after::before {
  top: -5px;
}

.line-before-after::after {
  bottom: -5px;
}

.nav-link:hover {
  color: #0d6efd !important; /* Change to your primary color */
  text-decoration: none !important; /* Remove underline */
}

.service-panel {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.service-panel.fade-out {
  opacity: 0;
  height: 0;
}

.pointer{
  cursor: "pointer";
}