html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.bg-with-image {
  position: relative;
  background-image: url("assets/carwashBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.LandingPage{
    position: relative;
    z-index: 2;
}